* {
  box-sizing: border-box;
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

a :hover {
  color: white;
  transition: color 0.3s ease;
}

body {
  width: 100%;
  height: 100%;
  margin: 0;
  background-color: #121212;
  color: #ffffff;
  line-height: 1.6;
  overflow-x: hidden;

}

.user {
  width: 100%;
  height: 100%;
  margin-top: 64px;
  margin-left: 0;
  margin-right: 0;
}

@keyframes spawn {
  0% {
    opacity: 0;
    transform: translateY(40px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.title-screen {
  margin-right: 2px;
  color: gold;
  font-weight: 900;
  font-size: 56px;
  font-variant: small-caps;
  margin-bottom: 8rem;
  letter-spacing: 0.5rem;
  line-height: 4rem;
  text-shadow: 0px 10px 15px #787878;
}

.title-screen #first {
  animation: spawn 1s ease-out forwards;
}

.title-screen #second {
  animation: spawn 2s ease-out forwards;
}

.title-screen #third {
  animation: spawn 3s ease-out forwards;
}

h1 {
  font-family: Georgia;
  font-variant: small-caps;
  color: gold;
}

h1,
h2 {
  text-align: center;
  margin-bottom: 1rem;
}

h2 {
  color: #FFFFFF;
}

h3 {
  text-align: center;
  font-size: 1.2rem;
  color: #FFFFFF;
  margin-bottom: 0.5rem;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.title-container {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 8px;
}

.title-screen .question-button {
  padding-left: 6.5px;
}

.question-button,
.upgrade-button {
  display: inline;
  width: 24px;
  height: 24px;
  background-color: #ddd;
  color: #333;
  font-weight: bold;
  font-size: 1rem;
  text-align: center;
  align-items: center;
  padding-left: auto;
  line-height: 24px;
  border-radius: 50%;
  cursor: pointer;
  text-decoration: none;
}

.question-button {
  float: right;
}

.upgrade-button {
  float: left;
}

.question-button:hover,
.upgrade-button:hover {
  background-color: #bbb;
}

.topnav {
  position: fixed;
  top: 0;
  width: 100%;
  list-style-type: none;
  margin: 0;
  left: 0;
  padding: 0;
  height: 64px;
  overflow: hidden;
  background-color: #000000;
  z-index: 10;
  font-weight: bold;
  border-bottom: 1.5px solid goldenrod;
}

.character-sheet {
  transition: 0.3s ease-in-out;
}

.header {
  overflow: auto;
  transition: 0.3s ease-in-out;
  position: fixed;
  display: block;
  width: 200px;
  height: calc(100% - 64px);
  top: 64px;
  left: 0;
  padding: 0;
  background-color: #090809;
  box-shadow: 1px 0px 8px 1px gold;
  z-index: 5;
}

.header h1,
.temp h1 {
  margin-top: 8px;
  font-size: 1.35rem;
  width: 100%;
}

.header p,
.temp p {
  text-align: center;
  font-variant: small-caps;
  font-family: serif;
  font-size: 1.25rem;
  width: 100%;

}

.header ul li,
.temp ul li {
  width: 100%;
  box-shadow: 1px 0px 4px 1px gold;
}


.header table,
.temp table {
  color: white;
  font-family: serif;
  border-collapse: collapse;
  width: 100%;
  height: 16px;
  box-shadow: 1px 0px 4px 1px gold;
}

.header td,
.header th,
.temp td,
.temp th {
  border: none;
  font-weight: bold;
  font-family: serif;
  font-variant: small-caps;
  font-size: 1.3rem;
  width: 50%;
  text-align: center;
}

.toggle-menu {
  position: fixed;
  border: 0;
  top: 62px;
  height: calc(100% + 900px);
  width: 16px;
  background-color: gold;
  opacity: 0;
  margin-left: 196px;
  transition: 0.3s ease-in-out;
  z-index: 4;
  box-shadow: 1px 0px 4px 1px gold;

}

.toggle-menu:hover.toggle-menu {
  opacity: 0.5;
  cursor: pointer;
}


.temp {
  overflow: auto;
  transition: 0.3s ease-in-out;
  position: fixed;
  width: 200px;
  height: calc(100% - 64px);
  top: 64px;
  right: 0;
  padding: 0;
  background-color: #090809;
  box-shadow: -1px 0px 8px 1px gold;
  z-index: 5;
}

.toggle-temp {
  position: fixed;
  border: 0;
  top: 62px;
  right: 0;
  height: calc(100% + 64px);
  width: 16;
  background-color: gold;
  opacity: 0;
  margin-right: 200px;
  transition: 0.3s ease-in-out;
  z-index: 4;
  box-shadow: 1px 0px 4px 1px gold;
}

.toggle-temp:hover.toggle-temp {
  opacity: 0.5;
  cursor: pointer;
}

.skill-container {
  display: flex;
  text-align: center;
  align-items: left;
  justify-content: left;
  flex-wrap: wrap;
  margin-left: 200px;
  width: auto;
}

li#reset button:hover {
  color: red;
}

li {
  float: left;
}

.charnav li:first-child {
  margin-left: 16px
}

.charnav li:last-child {
  margin-right: 16px;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 19px 19px;
  text-decoration: none;
}

.header li button {
  width: 100%;
  display: block;
  color: white;
  text-align: center;
  padding: 19px 19px;
  text-decoration: none;
  background: none;
  color: inherit;
  border: inherit;
  font: inherit;
  cursor: pointer;
}

li a:hover {
  color: gold;

}

.logout:hover {
  background-color: rgb(185, 37, 35);
  color: black;
}


.topnav a.active {
  background-color: goldenrod;
}

.container {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.block {
  background-color: #1f1f1f;
  border: 1px solid #333;
  border-radius: 5px;
  margin: 10px auto;
  padding: auto;
  width: 30%;
  font-family: sans-serif;
  font-weight: bolder;
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.block:hover {
  background-color: #575757;
  transform: scale(1.02);
  cursor: pointer;
}

.grid-item {
  background-color: #1f1f1f;
  border: 1px solid #333;
  margin: 10px auto;
  padding: 20px;
  width: 65%;
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: center;
}

.grid-item:hover {
  background-color: #575757;
  cursor: pointer;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #000000;
  width: 100%;
  top: 100%;
  margin: 0 auto;
  left: 0;
  padding: 12px 16px;
  z-index: 4;
  transition: 0.3s ease;
}

.grid-item:hover .dropdown-content {
  display: block;
}

.grid-item .question-button {
  width: 100%;
  height: auto;
  border: none;
  background-color: none;
  display: inline;
  float: left;
  background-color: inherit;
  color: inherit;
  font-weight: bold;
  font-size: 1rem;
  text-align: center;
  align-items: center;
  padding-left: auto;
  line-height: auto;
  border-radius: 0;
  cursor: pointer;
  text-decoration: none;
}

table {
  border-collapse: collapse;
  width: 100%;
  height: 100%;
}

tr {
  width: 100%;
  transition: 0.3s ease-in-out;
}

td,
th {
  font-size: 1.1rem;
  font-family: serif;
  font-variant: small-caps;
  border: 2px solid #dddddd;
  border-left: 0;
  text-align: center;
  padding: 18px;
}

.selected {
  background-color: darkgoldenrod;
  box-shadow: 0px 0px 16px 1px gold;

}

tr:hover {
  color: gold;
  background-color: rgb(0, 0, 0);
  box-shadow: 1px 1px 8px 1px gold;
  cursor: pointer;

}

th:last-child,
td:last-child {
  border-right: 0px
}

.hidden-row {
  position: absolute;
  top: 90;
  transform: translateY(-60px);
  opacity: 0;
  z-index: -1;
}

.hidden-row td {
  border: none;
}

.button {
  background-color: goldenrod;
  border: none;
  color: rgb(255, 255, 255);
  width: 25%;
  min-height: 80px;
  padding: 39px 15px;
  text-align: center;
  text-decoration: none;
  font-weight: bold;
  font-size: 20px;
  margin: 10px auto;
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  transition: background-color 0.3s ease;
}

.block .button {
  width: 100%;
  margin: 10px auto;
  padding-top: 29px;
  font-weight: bolder;
}

.button:hover {
  background-color: #005F7A;
}

.modal-overlay {
  animation: fadeIn 0.2s ease-in-out;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: auto;
  z-index: 1000;
}

.modal-content {
  background-color: white;
  box-shadow: 0px 0px 16px 1px gold;
  padding: 20px;
  border-radius: 10px;
  max-width: 500px;
  width: 100%;
  text-align: center;

}

.modal-buttons {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}

.btn-delete {
  background-color: darkred;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.btn-cancel {
  background-color: darkgray;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.btn-delete:hover,
.btn-cancel:hover {
  opacity: 0.8;
}


@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.login {
  animation: spawn 1.5s ease-out forwards;
}

.login-button {
  background-color: #008CBA;
  border: none;
  color: white;
  width: 100%;
  padding: 14px 15px;
  text-align: center;
  text-decoration: none;
  font-size: 20px;
  margin: 10px auto;
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  transition: background-color 0.3s ease;
}

[class*="col-"] {
  float: left;
}

.col-1 {
  width: 8.33%;
}

.col-2 {
  width: 16.66%;
}

.col-3 {
  width: 25%;
}

.col-4 {
  width: 33.33%;
}

.col-5 {
  width: 41.66%;
}

.col-6 {
  width: 50%;
}

.col-7 {
  width: 58.33%;
}

.col-8 {
  width: 66.66%;
}

.col-9 {
  width: 75%;
}

.col-10 {
  width: 83.33%;
}

.col-11 {
  width: 91.66%;
}

.col-12 {
  width: 100%;
}

.skills-grid,
.trainings-grid,
.weapons-grid,
.armors-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.skills-grid div:hover,
.trainings-grid div:hover,
.weapons-grid div:hover,
.armors-grid div:hover,
.block:hover {
  transition: transform 0.2s;
}

.pure-lineage-skills,
.nonpure-lineage-skills {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.pure-lineage-skills>*,
.nonpure-lineage-skills>* {
  margin: 10px;
}


@media (max-width: 900px) {
  .button {
    width: 30%;
  }

  .block {
    width: 46%;
  }

  .title-screen {
    font-size: 38px;
  }

  .col-4 {
    width: 50%
  }
}

@media (max-width: 600px) {
  .button {
    width: 35%;
  }

  .block {
    width: 65%;
  }

  .title-screen {
    font-size: 28px;
  }

  .col-4 {
    width: 100%
  }
}