* {
  box-sizing: border-box;
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

a :hover {
  color: white;
  transition: color 0.3s ease;
}

body {
  width: 100%;
  height: 100%;
  margin: 0;
  background-color: #121212;
  color: white;
  line-height: 1.6;
  overflow-x: hidden;
}

.user {
  margin-top: 64px;
  transition: 0.3s ease-in-out;
}

@keyframes spawn {
  0% {
    opacity: 0;
    transform: translateY(40px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes descend {
  0% {
    opacity: 0;
    transform: translateY(-25%);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.title-screen {
  font-weight: 900;
  font-size: 56px;
  margin-bottom: 4rem;
  letter-spacing: 0.5rem;
  line-height: 4rem;
  text-shadow: 0px 10px 15px #787878;
}

.title-screen #first {
  animation: spawn 1s ease-out forwards;
}

.title-screen #second {
  animation: spawn 2s ease-out forwards;
}

.title-screen #third {
  animation: spawn 3s ease-out forwards;
}

h1 {
  color: gold;
}

h1,
h2,
h3 {
  font-family: Georgia;
  font-variant: small-caps;
  text-align: center;
  margin-bottom: 1rem;
}

h2,
h3 {
  color: #FFFFFF;
}

a h2,
a h3 {
  color: gold;
}

button.lineBtn,
a.lineBtn {
  background: none;
  border: none;
  padding: 0;
  margin: 0;
  font: inherit;
  color: gold;
  text-align: inherit;
  cursor: pointer
}

button.lineBtn:hover,
a.lineBtn:hover {
  color: #FFFFFF
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.title-container {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 8px;
}

.container .title-container {
  border-bottom: solid gold 1px;
  animation: descend 0.4s;
}

.container .title-container:hover {
  background-color: rgb(0, 0, 0);
  box-shadow: 1px 1px 8px 1px gold;
  transition: 0.3s;
}

.question-button,
.upgrade-button {
  display: inline;
  width: 24px;
  height: 24px;
  border: 0;
  padding: 0;
  background-color: #ddd;
  color: #333;
  font-weight: bold;
  font-size: 1rem;
  text-align: center;
  align-items: center;
  line-height: 24px;
  border-radius: 50%;

  cursor: pointer;
  text-decoration: none;
}

.question-button {
  float: right;
}

.upgrade-button {
  float: left;
}

.question-button:hover,
.upgrade-button:hover {
  background-color: #bbb;
}

.temp .question-button {
  background: none;
  border-radius: 0;
}

.topnav {
  position: fixed;
  top: 0;
  width: 100%;
  list-style-type: none;
  margin: 0;
  left: 0;
  padding: 0;
  height: 64px;
  overflow: hidden;
  background-color: #000000;
  z-index: 10;
  font-weight: bold;
  border-bottom: 1.5px solid goldenrod;
}

.character-sheet {
  transition: 0.3s ease-in-out;
}

.Atr {
  color: #FFFFFF;
  font-family: serif;
  font-size: 1.35rem;
  font-weight: bolder
}


.header,
.temp {
  overflow-y: auto;
  overflow-x: hidden;
  transition: 0.3s ease-in-out;
  position: fixed;
  display: block;
  width: 200px;
  height: calc(100% - 64px);
  top: 64px;
  padding: 0;
  background-color: #090809;
  box-shadow: 1px 0px 8px 1px gold;
}

.header {
  left: 0;
  z-index: 5;
}

.temp {
  right: 0;
  z-index: 4;
}

.header h1,
.temp h1 {
  margin-top: 6px;
  font-size: 1.25rem;
  width: 100%;
}

.header p,
.temp p {
  text-align: center;
  font-variant: small-caps;
  font-family: serif;
  font-size: 1.1rem;
  width: 100%;
}

.header ul li,
.temp ul li {
  width: 100%;
  box-shadow: 1px 0px 4px 1px gold;
}

.header table,
.temp table {
  color: white;
  font-family: serif;
  border-collapse: collapse;
  width: 100%;
  height: 12px;
  box-shadow: 1px 0px 4px 1px gold;
}

.header tr,
.temp tr {
  animation: none !important;
}

.header td,
.header th,
.temp td,
.temp th {
  border: none;
  font-weight: bold;
  font-family: serif;
  font-variant: small-caps;
  font-size: 1.2rem;
  width: 50%;
  text-align: center;
}

.toggle-menu,
.toggle-temp {
  position: fixed;
  border: 0;
  top: 62px;
  height: calc(100% + 900px);
  width: 10px;
  background-color: gold;
  opacity: 0;
  transition: 0.3s ease-in-out;
  z-index: 4;
  box-shadow: 1px 0px 4px 1px gold;
}

.toggle-temp {
  right: 0;
  margin-right: 196px;

}

.toggle-menu {
  margin-left: 196px;
}

.toggle-menu:hover,
.toggle-temp:hover {
  opacity: 0.5;
  cursor: pointer;
}


.skill-container {
  display: flex;
  text-align: center;
  align-items: left;
  justify-content: left;
  flex-wrap: wrap;
  margin-left: 200px;
  width: auto;
}

#reset:hover {
  background-color: #ec4010;
  color: white;
}

li {
  float: left;
}

.charnav li:first-child {
  margin-left: 16px
}

.charnav li:last-child {
  margin-right: 16px;
}

li a,
li button {
  width: 100%;
  display: block;
  color: white;
  text-align: center;
  padding: 16px 16px;
  text-decoration: none;
  font-weight: bold;
  font-family: serif;
  font-variant: small-caps;
  font-size: 1.2rem;
  cursor: pointer;
  background: none;

}

li a.active {
  color: gold;
  scale: 1.1
}

.header table button {
  color: white;
  text-align: center;
  text-decoration: none;
  background: none;
  border: none;
  font: inherit;
  cursor: pointer;
  width: 100%;
  height: 100%;
}

li a:hover,
li button:hover {
  color: gold;
  cursor: pointer;
  background-color: black;
  box-shadow: 1px 1px 8px 1px gold;
  transition: 0.3s;
}

.logout:hover {
  background-color: rgb(185, 37, 35);
  color: black;
}


.topnav a.active {
  color: white;
  background-color: goldenrod;
}

.container {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.block {
  background-color: #1f1f1f;
  border: 1px solid #333;
  border-radius: 5px;
  margin: 10px auto;
  padding: auto;
  width: 30%;
  font-family: sans-serif;
  font-weight: bolder;
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.block:hover {
  background-color: #575757;
  transform: scale(1.02);
  cursor: pointer;
}

/*GRID E INVENTÁRIO*/

.grid .grid-item:hover,
.inventory .grid-item:hover {
  background-color: #575757;
  cursor: pointer;
}

.inventory {
  display: grid;
  margin: auto;
  text-align: center;
  width: fit-content;
  justify-content: center;
}

.grid {
  grid-template-columns: auto auto auto auto auto;
}

.grid .grid-item,
.inventory .grid-item {
  background-color: black;
  color: gold;
  border: 1px solid white;
  padding: 24px;
  width: 100%;
  text-align: center;
}

.inventory div {
  justify-content: center;
}

.grid-item .question-button {
  width: 100%;
  height: auto;
  border: none;
  background-color: none;
  display: inline;
  float: left;
  background-color: inherit;
  color: inherit;
  font-weight: bold;
  font-size: 1rem;
  text-align: center;
  align-items: center;
  line-height: auto;
  border-radius: 0;
  cursor: pointer;
  text-decoration: none;
}

table {
  border-collapse: collapse;
  width: 100%;
  height: 100%;
}

tr {
  margin: 0;
  width: 100%;
  transition: 0.3s ease-in-out;
  animation: descend 0.3s;
}

td,
th {
  border: 2px solid #dddddd;
  border-left: 0;
  text-align: center;
  padding: 18px;
}

td {
  font-family: serif;
  font-size: 1.1rem;
}

th {
  font-family: serif;
  font-variant: small-caps;
  font-size: 1.25rem;
  font-weight: 700;
  letter-spacing: 0.07rem;
}

.selected {
  color: gold;
  background-color: rgb(9, 8, 9);
  box-shadow: 0px 0px 16px 1px gold;
}

.table-extension {
  color: gold;
  background-color: rgb(9, 8, 9);
}

.table-extension :hover {
  box-shadow: none;
  background-color: initial;
  cursor: default;
}

.table-extension tr th,
.table-extension tr td {
  border: 0;
  padding: 8px;
}

.table-extension tr td {
  color: white
}

tr:hover {
  color: gold;
  background-color: rgb(0, 0, 0);
  box-shadow: 1px 1px 8px 1px gold;
  cursor: pointer;

}

th:last-child,
td:last-child {
  border-right: 0px
}

.hidden-row {
  position: absolute;
  top: 90;
  transform: translateY(-60px);
  opacity: 0;
  z-index: -1;
}

.hidden-row td {
  border: none;
}

.button {
  background-color: goldenrod;
  border: none;
  color: rgb(255, 255, 255);
  width: 25%;
  min-height: 80px;
  padding: 39px 15px;
  text-align: center;
  text-decoration: none;
  font-weight: bold;
  font-size: 20px;
  margin: 10px auto;
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  transition: 0.3s ease;
}

.block .button {
  width: 100%;
  margin: 10px auto;
  padding-top: 29px;
  font-weight: bolder;
}

.button:hover {
  background-color: darkgoldenrod;
}

.modal-overlay {
  background-color: rgba(0, 0, 0, 0.7);
  animation: fadeIn 0.2s ease-in-out;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  overflow: auto;
  cursor: default;
  z-index: 15;
}

.modal-content {
  background-color: black;
  box-shadow: 0px 0px 16px 1px gold;
  color: gold;
  padding: 20px;
  border-radius: 10px;
  max-width: 700px;
  width: 100%;
  text-align: center;
  cursor: initial;
  z-index: 20;
}

.modal-close {
  position: fixed;
  left: 0;
  top: 0;
  opacity: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  cursor: default;
}

.modal-buttons {
  display: flex;
  justify-content: space-around;
  margin-top: 30px;
}

.btn-delete {
  background-color: darkred;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.btn-cancel {
  background-color: darkgray;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.btn-delete:hover,
.btn-cancel:hover {
  opacity: 0.8;
}


@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.login {
  animation: spawn 1.5s ease-out forwards;
}

.login-button {
  background-color: #008CBA;
  border: none;
  color: white;
  width: 100%;
  padding: 14px 15px;
  text-align: center;
  text-decoration: none;
  font-size: 20px;
  margin: 10px auto;
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  transition: background-color 0.3s ease;
}

[class*="col-"] {
  float: left;
}

.col-1 {
  width: 8.33%;
}

.col-2 {
  width: 16.66%;
}

.col-3 {
  width: 25%;
}

.col-4 {
  width: 33.33%;
}

.col-5 {
  width: 41.66%;
}

.col-6 {
  width: 50%;
}

.col-7 {
  width: 58.33%;
}

.col-8 {
  width: 66.66%;
}

.col-9 {
  width: 75%;
}

.col-10 {
  width: 83.33%;
}

.col-11 {
  width: 91.66%;
}

.col-12 {
  width: 100%;
}

.grid,
.skills-grid,
.weapons-grid,
.armors-grid {
  display: grid;
  background: transparent;
  padding: 10px;
}

/*CALENDARIO*/
.title-input {
  font-family: serif;
  font-size: 2rem;
  color: gold;
  text-align: center;
  width: 101%;
  border-bottom: 2px solid goldenrod;
  border-top: 2px solid goldenrod;
  background: transparent;
  padding: 10px;
  outline: none;
  transition: 0.3s;
  margin: 0;
}

#Nome.title-input:focus {
  scale: 1.1;
  border-bottom: 2px solid gold;
  box-shadow: 1px 1px 4px 1px gold;
}

#Campanhas.title-input:hover,
#Personagens.title-input:hover {
  background-color: rgb(0, 0, 0);
  box-shadow: 1px 1px 8px 1px gold;
}

.calendar-description {
  flex: auto;
}

.calendar-box {
  display: flex;
  flex-wrap: wrap;
  margin: 10px;
  color: white;
  background-color: #090809;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 1px 0px 8px 1px gold;
  width: 100%;
}

.calendar-field {
  display: flex;
  margin: auto;
  width: 60%;
  flex-direction: column;
  align-items: center;
  color: gold;
}

.calendar-field label {
  font-family: serif;
  font-variant: small-caps;
  font-weight: bold;
}

select {
  width: 100%;
  background: #222;
  color: gold;
  border: 1px solid white;
  padding: 5px;
  text-align: center;
}

*:focus {
  outline-color: rgb(255, 228, 74);
}

.calendar-buttons {
  display: flex;
  gap: 5px;
}

button {
  background: gold;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  font-weight: bold;
}

.submit-container {
  margin-top: 20px;
}

.submit-button {
  background: gold;
  color: #222;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 1.2rem;
  cursor: pointer;
  transition: 0.3s;
}

.submit-button:hover {
  background: #ffcc00;
}

.error {
  color: red;
  text-align: center;
  margin-top: 5px;
  font-family: serif;
  font-size: 1.1rem;
  font-weight: bold;
  font-variant: small-caps;
}

.error:hover,
.error :hover {
  color: red;
  box-shadow: none;
  transition: 0.3s;
}


@media (max-width: 900px) {
  .modal-content .grid {
    max-width: 500px;
    grid-template-columns: auto auto auto;
  }

  .modal-content {
    max-width: 550px;
  }

  .grid {
    grid-template-columns: auto auto auto auto;
  }

  .button {
    width: 30%;
  }

  .block {
    width: 46%;
  }

  .title-screen {
    font-size: 38px;
  }

  .col-4 {
    width: 50%
  }
}

@media (max-width: 600px) {
  .modal-content .grid {
    max-width: 350px;
    grid-template-columns: auto auto;
  }

  .modal-content {
    max-width: 400px;
  }

  .grid {
    grid-template-columns: auto auto auto;
  }

  .button {
    width: 35%;
  }

  .block {
    width: 65%;
  }

  .title-screen {
    font-size: 28px;
  }

  .col-4 {
    width: 100%
  }
}